<footer class="footer" id="anchor9">
    <div class="container">
         <a href="index.html" class="logo"><img src="img/logo.png"/></a>
        <div class="nav">
            <div class="box">
                <h4>Свяжитесь с нами</h4>
                <ul class="tel">
                    <i class="icon-phone"></i>
                    <li><a  href="tel:+7 (4712) 40 - 08 - 10">+7 (4712) 40 - 08 - 10</a></li>
                    <li><a  href="tel:+7 (4712) 39 - 77 - 25">+7 (4712) 39 - 77 - 25</a></li>
                </ul>
                <ul class="mail">
                    <i class="icon-mail"></i>
                    <li> <a href="kovrik@vseblestit.ru">kovrik@vseblestit.ru</a></li>
                </ul>
                <ul class="adress">
                    <i class="icon-pin"></i>
                    <li>Адрес: г.Курск. 2й Литовский пер. 7</li>
                </ul>
            </div>
            <div class="box">
                <h4>Режим работы</h4>
                <ul>
                    <li>Пн - пт: 9.00 - 18.00</li>
                    <li>Сб 10.00 - 17.00</li>
                    <li>Вс 10.00 - 15.00</li>
                </ul>
            </div>
            <div class="box">
                <h4>Варианты оплаты</h4>
                <ul>
                    <li><a href="#">Наличный</a> </li>
                    <li><a href="#">Безналичный расчет</a> </li>
                </ul>
            </div>
            <div class="box social">
                <h4>Социальные сети</h4>
                <ul>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>
                    <li><a href="#"><i class="icon-internet"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                </ul>
                <a href="#" class="btn blue">Книга жалоб</a>
            </div>
        </div>
        <p class="about">
            <a href="#">Политика конфиденциальности.</a>  Не является офертой.
        </p>
    </div>
</footer>