<footer class="footer">
    <div class="container">
         <a href="index.html" class="logo"><img src="img/logo.png"/></a>
        <div class="nav">
            <div class="box">
                <h4>Свяжитесь с нами</h4>
                <ul>
                    <li><a class="tel" href="tel:+7 (4712) 40 - 08 - 10">+7 (4712) 40 - 08 - 10</a></li>
                    <li><a class="tel" href="tel:+7 (4712) 39 - 77 - 25">+7 (4712) 39 - 77 - 25</a></li>
                </ul>
                <ul>
                    <li> <a href="kovrik@vseblestit.ru">kovrik@vseblestit.ru</a></li>
                </ul>
                <ul>
                    <li>Адрес: г.Курск. 2й Литовский пер. 7</li>
                </ul>
            </div>
            <div class="box">
                <h4>Режим работы</h4>
                <ul>
                    <li>Пн - пт: 9.00 - 18.00</li>
                    <li>Сб 10.00 - 17.00</li>
                    <li>Вс 10.00 - 15.00</li>
                </ul>
            </div>
            <div class="box">
                <h4>Режим работы</h4>
                <ul>
                    <li><a href="#">Наличный</a> </li>
                    <li><a href="#">Безналичный расчет</a> </li>
                </ul>
            </div>
            <div class="box">
                <h4>Режим работы</h4>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</footer>