<header class="header" id="anchor0">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/logo.png"></a>
        <nav>
            <ul class="address">
                <li><a class="tel" href="#"><span><i class="icon-phone"></i></span><p><i class="icon-phone"></i>8 4712 400 810</p></a></li>
                <li><a class="mail" href="#"><span><i class="icon-mail"></i></span><p><i class="icon-mail"></i>kovrik@vseblestit.ru</p></a></li>

            </ul>
            <div id="toggle" class="open_menu">
                <i class="icon-burger"></i>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="service_1.html">Чистка ковров</a></li>
                    <li><a href="service_2.html">Чистка мебели</a></li>
                    <li><a href="#anchor2" class="up">Пылевыбивание</a></li>
                    <li><a href="#anchor4" class="up">Акции</a></li>
                    <li><a href="#anchor8" class="up">Отзывы</a></li>
                    <li><a href="#" class="up">Калькулятор</a></li>
                    <li><a href="#anchor9" class="up">Контакты</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>