<header class="header">
    <div class="container">
        <a href="index.html" class="logo"><img src="img/logo.png"></a>
        <nav>
            <ul class="address">
                <li><a class="mail" href="mail:kovrik@vseblestit.ru"><span><i class="icon-mail"></i></span><p>kovrik@vseblestit.ru</p></a></li>
                <li><a class="tel" href="tel:+8 4712 400 810"><span><i class="icon-phone"></i></span><p>8 4712 400 810</p></a></li>
            </ul>
            <div id="toggle" class="open_menu">
                <i class="icon-burger"></i>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Чистка ковров</a></li>
                    <li><a href="#">Чистка мебели</a></li>
                    <li><a href="#">Пылевыбивание</a></li>
                    <li><a href="#">Акции</a></li>
                    <li><a href="#">Отзывы</a></li>
                    <li><a href="#">Калькулятор</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>