<div class="overlay-form formPopup animated ">
    <div class="close"></div>
    <div class="form__popup ">
        <span class="close-popup"></span>
        <div class="content">
           <h3>Пожалуйста, заполните форму</h3>
            <p>Консультант позвонит Вам в ближайшее время!</p>
            <form>
                <div class="input_box">
                    <input type="text" placeholder="Введите Ваше имя" >
                </div>
                <div class="input_box">
                    <input type="text" placeholder="Введите Ваш номер телефона" >
                </div>
                <div class="input_box">
                    <input type="text" placeholder="Введите Вашу почту" >
                </div>
                <button class="btn light_blue">заказать звонок</button>
                <p class="links">
                    Нажимая на кнопку «Заказать звонок» Вы соглашаетесь с
                    <a href="#" class="open_conf">Политикой конфиденциальности</a>
                </p>
            </form>
        </div>
    </div>
</div>
<div class="overlay-conf confPopup animated">
    <div class="close"></div>
    <div class="conf__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>Политика конфиденциальности</h3>
            <p>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset
                с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
                вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            </p>
            <p>
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
                Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset
                с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной
                вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            </p>
        </div>
    </div>
</div>
<div class="overlay-valid validPopup animated ">
    <div class="close"></div>
    <div class="valid__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <h3>
                Спасибо за заявку!
            </h3>
        </div>
    </div>
</div>
<div class="overlay-video videoPopup animated ">
    <div class="close"></div>
    <div class="video__popup ">
        <span class="close-popup"></span>
        <div class="content">
            <iframe src=""  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        </div>
    </div>
</div>