.wrapper{
  .main{
    position: relative;
    min-height: 100vh;
    padding: 90px 0 223px;
    &:before{
      content: '';
      background: url("../img/error_bg5.png");
      position: absolute;
      left: 0;
      width: 25px;
      height: 180px;
      top: 50%;
      transform: translate(0px, -45%);
    }
    &:after{
      content: '';
      background: url("../img/error_bg6.png");
      position: absolute;
      right: 0;
      width: 30px;
      height: 217px;
      top: 50%;
      transform: translate(0px, -55%);
    }
    span{
      position: absolute;
      background: url("../img/error_bg4.png");
      bottom: 0;
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      height: 196px;

    }
    .container{
      img{
        display: block;
        margin: 0 auto;
        width: 265px;
        height: 129px;
      }
      h3{
        text-align: center;
        color: #1c2940;
        font-family: 'TTCommons-DemiBold';
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        margin: 12px 30px 12px 30px;
      }
      p{
        color: #1c2940;
        font-family: "TT Commons";
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        margin: 0px 15px 38px 15px;
      }
      .btn{
        margin: 0 auto;
        display: table;
        padding: 22px 74px;
        letter-spacing: 1.4px;
      }
    }
  }
}
@media (min-width: 768px) {
  .wrapper{
    .main{
      span{
        position: absolute;
        background: url("../img/error_bg.png");
        bottom: 0;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        height: 196px;

      }
    }
  }
}
@media (min-width: 1280px) {
  .wrapper{
    .main{
      padding: 200px 0 220px;
      &:before{
        content: '';
        background: url("../img/error_bg2.png");
        position: absolute;
        left: 0;
        width: 343px;
        height: 546px;
        top: 50%;
        transform: translate(0,-63%);
      }
      &:after{
        content: '';
        background: url("../img/error_bg3.png");
        position: absolute;
        right: 0;
        width: 275px;
        height: 765px;
        top: 50%;
        transform: translate(0,-50%);

      }
      span{
        position: absolute;
        background: url("../img/error_bg.png");
        bottom: 0;
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        height: 196px;

      }
      .container{
        img{
          width: 740px;
          height: 355px;
        }
        h3{
          font-size: 30px;
        }
        p{
          font-size: 24px;
          margin: 0 15px 35px;
        }
        .btn{

        }
      }
    }
  }
}